.footer {
  background-color: var(--accent-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}
.footer__logo {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--hero-text-color);
  margin-top: 20px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer-contacts {
  display: block;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-top: 9px;
  margin-bottom: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:last-child {
    margin-bottom: 0;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.action-call {
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  // text-transform: uppercase;
  // color: var(--hero-text-color);
  // display: block;
  // padding-top: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  display: block;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    // padding-top: 10px;
  }
}
.footer-container {
  // display: flex;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.footer-left {
  // margin-right: 70px;
  @media screen and (min-width: 768px) {
    margin-right: 165px;
    margin-left: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-left: 0;
  }
}
.footer-center {
  // margin-right: 93px;
  @media screen and (min-width: 768px) {
    margin-right: 74px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.social__footer {
  @media screen and (min-width: 1200px) {
    margin-top: 20px;
  }
  // margin-top: 20px;
}

.footer-right {
  // display: flex;
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin: 0;
  }
}
.footer-label {
  // display: block;
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.03em;
  // text-transform: uppercase;
  // color: var(--hero-text-color);
  // padding-top: 10px;
  // margin-bottom: 20px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--hero-text-color);
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer-input {
  // width: 358px;
  // height: 50px;
  // color: var(--hero-text-color);
  // background-color: transparent;
  // padding: 15px;
  // border: 1px solid rgba(255, 255, 255, 0.3);
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  // border-radius: 4px;
  // outline: none;
  // margin-right: 12px;
  // &::placeholder {
  //   font-size: 16px;
  //   line-height: 1.25;
  //   letter-spacing: 0.03em;
  //   color: rgba(255, 255, 255, 0.6);
  // }
  width: 100%;
  height: 50px;
  color: var(--hero-text-color);
  background-color: transparent;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer-form-btn {
  // width: 200px;
  // height: 50px;
  // position: relative;
  // line-height: 1.87;
  // padding: 10px 62px 10px 28px;
  width: 200px;
  height: 50px;
  position: relative;
  line-height: 1.87;
  padding: 10px 62px 10px 28px;
  display: block;
  margin: 0 auto;
  @media screen and (min-width: 1200px) {
    margin: 0;
    display: inline;
  }
}

.footer-form-icon {
  // position: absolute;
  // top: 15px;
  // margin-left: 10px;
  // fill: var(--hero-text-color);
  position: absolute;
  top: 15px;
  margin-left: 10px;
  fill: var(--hero-text-color);
}
