.header {
  // background-color: #fff;
  // padding-top: 24px;
  // padding-bottom: 25px;
  // border-bottom: 1px solid #ececec;
}
.header-container {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
}
.navigation {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
}
.nav-list {
  // display: flex;
  // margin-left: 93px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.nav-item {
  // margin-right: 50px;
  // :last-child {
  //   margin-right: 0;
  // }
}
.nav-link {
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.2;
  // letter-spacing: 0.02em;
  // color: var(--title-text-color);
  // transition-property: color;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // &:hover,
  // &:focus {
  //   color: var(--accent-color);
  // }
}

.nav-link.active {
  // display: flex;
  // position: relative;
  // color: var(--accent-color);
  // &::after {
  //   position: absolute;
  //   bottom: -34px;
  //   content: '';
  //   width: 100%;
  //   height: 4px;
  //   background-color: var(--accent-color);
  //   border-radius: 2px;
  // }
}

.nav-contacts {
  // display: inline-block;
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.2;
  // letter-spacing: 0.02em;
  // color: var(--primary-text-color);
  // transition-property: color;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // &:hover,
  // &:focus {
  //   color: var(--accent-color);
  // }
  // &:first-child {
  //   margin-right: 50px;
  // }
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.contact-icon {
  // margin-right: 10px;
  // fill: currentColor;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-toggle {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
