.hero {
  // background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //   url(../images/bg-img.jpg);
  // background-repeat: no-repeat;
  // background-size: 1600px;
  // background-position: center;
  // background-color: var(--accent-bg-color);
  // padding-top: 200px;
  // padding-bottom: 200px;
  // background-color: var(--accent-bg-color);
  // padding-top: 118px;
  // padding-bottom: 118px;
}
.hero__title {
  // font-weight: 900;
  // font-size: 44px;
  // line-height: 1.4;
  // text-align: center;
  // letter-spacing: 0.06em;
  // text-transform: uppercase;
  // color: var(--hero-text-color);
  // max-width: 696px;
  // margin-bottom: 30px;
  // font-weight: 900;
  // font-size: 26px;
  // line-height: 1.62;
  // text-transform: uppercase;
  // text-align: center;
  // color: var(--hero-text-color);
}
.hero__container {
  // display: flex;
  // align-items: center;
  // flex-direction: column;
}
.hero__btn {
  // padding: 10px 32px;
  // border-radius: 4px;
}
