.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  display: block;
}
.logo-accent {
  color: var(--accent-color);
}
.footer__logo {
  color: var(--hero-text-color);
}
