:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --accent-bg-color: #2f303a;
}
